/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.testing
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.composer/
.bash_history
.viminfo
/.config/psysh
public/.well-known/
/dockerlaravelblog/.env
/dockerlaravelblog/datosClipboard.txt
